.item-list-container {
  width: 100%;
  padding: 30px;
  margin-bottom: 60px;
  background-image: url(../../../public/CamisetasDeFutbol/canchaarriba\ \(1\).jpg);
  background-size: cover;
  background-position: center;
}
